.ellipsis {
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    height: 30px;
}
.description {
    width: 90%;
    background: #ccc; 
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 0;
}

  .AddButton {
    height:30px;
    color: white;
    cursor: pointer;
  }

  .btn_edit {
    background-color: transparent;
    border: none;
    color: #2f4f4f;
    cursor: pointer;
    font-size: medium;
  }

  .btn_delete {
    background-color: transparent;
    border: none;
    color: #ff1a1a;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
  }

  .navbar-item .has-text-info {
    background-color: transparent;
    border: none;
    font-size: medium;
    cursor: pointer;
  }

  .navbar-item .has-text-info:hover {
    background-color: #f2f2f2;
  }
  
  .section {
    margin-top: -23px;
  }

  .container {
      font-size: large;
  }
  
  .head {
      border-bottom: 3px solid #e6e7e4;
  }

  .column {
      margin-top: 10px;
  }

 .image {
     height: auto;
     width: 100%;
 }

 .table {
     width: 40%;
     height: auto;
 }

 .category {
    margin-top: 100px;
 }

 @media only screen and (max-width:500px) {
    .columns .head {
        display:none;
    }
 }