.ellipsis {
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    height: 30px;
}
.description {
    width: 500px;
    background: #ccc; 
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 0;
}

table, td, th {

    text-align:center;
    width:14.2%;
    padding:5px;
  }

  table {
    width: 400px;
    border-collapse: collapse;
  }